<hgroup>
  <div style="float: right; margin-top: 40px; z-index: -1;">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-1928761598459347";
      /* banner */
      google_ad_slot = "4694977461";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>

  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>

